
.fit-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding-right: 100px;
}

 main a {
    color: #acd15d;
    text-decoration: none;
}

.container {
    display: inline-grid;
}

.green-heading  {
    color: #15e1ca;
    font-family: 'Tilt Prism', cursive;
}

.header-orange{
    background-image: url(bario.jpeg);
    height: 100px;
}
header a {
    text-decoration: none;
    color: white;
    background-color: #F28705;
    font-weight: bold;
}

.footer-red{
    background-image: url(bario.jpeg);
    height: 50px;
    color: white;
    font-weight: bold;
    background-position: center;
}

.blue-background{
    background-color: #0597f2;
    height: auto;
}

.h1-h2 {
    color: #acd15d;
}

p {
    color: white;
}

main h2 {
    color: white;
}

tr td:nth-child(even) {
    background-color: #F2CB05;
}

tr td:nth-child(odd) {
    background-color: #F2B705;
}

tr {
    color: white;
}

ol {
    color: white;
}
